
<%- include('header.ejs', {title: buildParams.title}) -%>

<%- include nav.ejs %>

<div class="container">
    <div class="row">
        <% for(var i=0; i < buildParams.stockArray.length; i++) { %>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="c-favorite_card">

                        <%= buildParams.stockArray[i].symbol; %>

                        <%= buildParams.stockArray[i].percentChange; %>

                        <%= buildParams.stockArray[i].high; %>
                </div>
            </div>
        <% }%>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="c-favorite_add-circle is-visible">

                <button class="c-favorite_add-button">
                    <svg aria-hidden="true" focusable="false" 
                        data-prefix="fas" data-icon="plus-circle" 
                        class="svg-inline--fa fa-plus-circle fa-w-16" 
                        role="img" xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 512 512">
                        <path fill="currentColor" 
                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z">

                        </path>
                    </svg>
                </button>

                <div class="c-favorite_search-container is-hidden">

                    <span class="c-favorite_search-prompt">Search by Symbol</span>
                    <%- include components/search.ejs -%>
                </div>    
            </div>

        </div>
    </div>

</div>

<%- include components/view-modal.ejs -%>

<%- include footer.ejs %>
