
<%- include('header.ejs', {title: buildParams.title}) -%>

<%- include nav.ejs %>

<div class="container">
    <div class="row">
        <% for(var i=0; i < buildParams.stockArray.length; i++) { %>
            <div class="col-sm-4">
                <div class="c-favorite-card">

                        <%= buildParams.stockArray[i].symbol; %>

                        <%= buildParams.stockArray[i].percentChange; %>

                        <%= buildParams.stockArray[i].high; %>
                </div>
            </div>
        <% }%>
        <div class="col-sm-4">
            <div class="c-favorite-add">

                <button class="c-favorite-add-button">

                </button>

            </div>
        </div>
    </div>

</div>


<%- include footer.ejs %>
