
<%- include('header.ejs', {title: buildParams.title}) -%>

<%- include nav.ejs -%>

<div class="container">
    <div class="l-search_container">
        <div class="row">
            <% if(buildParams.stock.length > 0 ) { %>
                <% for(var i=0; i < buildParams.stock.length; i++) { %>
                    <div class="col-md-6 col-sm-12">
                        <div class="c-search_card">

                            <h3 class="c-search_card-headline">
                                <%= buildParams.stock[i]['symbol']; %>
                            </h3>

                            <h4 class="c-search_card-name">
                                <%= buildParams.stock[i]['name']; %>
                            </h4>

                            <span class="c-search_card-price">
                                <%= buildParams.stock[i]['price']; %>
                            </span>

                            <span class="c-search_card-price-subtitle">
                                Price
                            </span>

                            <form class="stock-view" action="" method="POST">
                                <input type="hidden" name="stock-searched" class="c-stock-input" value="<%= buildParams.stock[i]['symbol']; %>"/>
                                <button type="submit" class="c-search_card-view-button btn btn-success btn-sm" data-toggle="modal" data-target="#viewModal">
                                    View
                                </button>
                            </form>

                        </div>
                    </div>
                <% }%>
            <% }
            else { %>  
                <div class="alert results-alert alert-danger" role="alert">
                    Sorry, no Results Found!
                </div>
            <% }%>

        </div>
    </div>
</div>

<%- include components/view-modal.ejs -%>

<%- include footer.ejs %>